<header class="header_area">
    <div class="main_menu">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand logo_h" href="{{url_for('main')}}"><img src="{{ url_for('static',filename='img/logo.png') }}"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
            <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
              <li class="nav-item active"><a class="nav-link" href="{{url_for('customer_home')}}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{{url_for('shop')}}">Shop</a></li>
				<li class="nav-item"><a class="nav-link" href="{{url_for('order_history')}}">Order History</a></li>
							<li class="nav-item submenu dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">Profile</a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a class="nav-link" href="{{url_for('view_customer_details')}}">View</a></li>
                  <li class="nav-item"><a class="nav-link" href="{{url_for('customer_update_country')}}">Update Country</a></li>
				  <li class="nav-item"><a class="nav-link" href="{{url_for('customer_update_password')}}">Change Password</a></li>
                </ul>
              </li>
			  <li class="nav-item active"><a class="nav-link" href="{{url_for('main')}}">Logout</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>