<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Aroma Shop - Customer Update</title>
	<link rel="icon" href="{{ url_for('static',filename='img/Fevicon.png')}}" type="image/png">
  <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='bootstrap/bootstrap.min.css') }}">
  <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='fontawesome/css/all.min.css') }}">
	<link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='themify-icons/themify-icons.css') }}">>
  <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='nice-select/nice-select.css') }}">
  <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='owl-carousel/owl.theme.default.min.css') }}">
  <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='owl-carousel/owl.carousel.min.css') }}">

  <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='style.css') }}">
</head>
<body>
	<!--================ Start Header Menu Area =================-->
	{% include "customerheader.html" %} 
	<!--================ End Header Menu Area =================-->

  <!--================Tracking Box Area =================-->
  <section class="tracking_box_area section-margin--small">
      <div class="container">
          <div class="tracking_box_inner">
              <p>To update please enter all the required fields.</p>
              <form class="row tracking_form" action="{{url_for('customer_update_country')}}" method="post" novalidate="novalidate">
                  <div class="col-md-12 form-group">
                      <input type="text" class="form-control" id="customerid" name="customerid" placeholder="Customer ID" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Customer ID'">
                  </div>
                  <div class="col-md-12 form-group">
                      <input type="text" class="form-control" id="country" name="country" placeholder="Country" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Country'">
                  </div>
                  <div class="col-md-12 form-group">
                      <button type="submit" value="submit" class="button button-tracking">Update Country</button>
                  </div>
              </form>
          </div>
      </div>
  </section>
  <!--================End Tracking Box Area =================-->



  <!--================ Start footer Area  =================-->	
	{% include "footer.html" %} 
 {% include "scripts.html" %}
	<!--================ End footer Area  =================-->



  <script src="{{ url_for('static',filename='jquery/jquery-3.2.1.min.js') }}"></script>
  <script src="{{ url_for('static',filename='bootstrap/bootstrap.bundle.min.js') }}"></script>
  
  <script src="{{ url_for('static',filename='skrollr.min.js') }}"></script>
  
  <script src="{{ url_for('static',filename='owl-carousel/owl.carousel.min.js') }}"></script>
  <script src="{{ url_for('static',filename='nice-select/jquery.nice-select.min.js') }}"></script>
  <script src="{{ url_for('static',filename='jquery.ajaxchimp.min.js') }}"></script>
  <script src="{{ url_for('static',filename='mail-script.js') }}"></script>
  <script src="{{ url_for('static',filename='main.js') }}"></script>
</body>
</html>