<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Aroma Shop - Customer</title>
	<link rel="icon" href="{{ url_for('static',filename='img/Fevicon.png')}}" type="image/png">
  <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='bootstrap/bootstrap.min.css') }}">
  <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='fontawesome/css/all.min.css') }}">
	<link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='themify-icons/themify-icons.css') }}">
  <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='nice-select/nice-select.css') }}">
  <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='owl-carousel/owl.theme.default.min.css') }}">
  <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='owl-carousel/owl.carousel.min.css') }}">

  <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='style.css') }}">
	<style>
		table, th, td {
			border: 1px solid black;
			border-collapse: collapse;
		}
		</style>
</head>
<body>
   <!--================ Start Header Menu Area =================-->
	 {% include "customerheader.html" %} 
	<!--================ End Header Menu Area =================-->
<!--================ Start ITEM View Area =================-->

<section class="section-margin calc-60px">
      <div class="container">
        <div class="section-intro pb-60px">
          <h2>Account <span class="section-intro__style">Details</span></h2>
        </div>
        <div class="row">
		  <table>
    <thead>
    <tr>
        <th>User ID</th>
        <th>Country</th>
        <th>Password</th>
    </tr>
    </thead>
    <tbody>
        {% for row in data %}
            <tr>
                <td>{{row[0]}}</td>
                <td style="text-align: center">{{row[1]}}</td>
                <td>{{row[2]}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>  
</div>        
</section>

<!--================ Start Manager Access Area =================-->

 <!--================ Start footer Area  =================-->	
 {% include "footer.html" %} 
 {% include "scripts.html" %} 
</body>
</html>